# Virtual environment
venv/
ENV/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django specific
*.log
db.sqlite3
db.sqlite3-journal
media/

# Environment variables
.env
*.env

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd
**/migrations/__pycache__/
**/migrations/*~

# IDE files
.vscode/
.idea/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Static files
staticfiles/
node_modules/

# Compiled files
*.egg-info/
dist/
build/
